body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fffaf7;
    line-height: 1.3;
  }
  main {
    max-width: 90ch;
    padding: 2ch;
    margin: auto;
  }
  a {
    color: #0072bb;
    text-decoration: none;
    outline: 0;
  }
  h1 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #0072bb;
  }
  footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
  }

  footer p {
    font-size: 1rem;
    color: #888888;
  }

  .filter {
    display: flex;
    justify-content: space-between;
  }

  .align-left {
    display: inline-block;
    text-align: left;
  }